@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

// General starts
html, body {
	background-color: #2D3031;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	scroll-behavior: smooth;
	overflow: hidden;
}

h1 {
	font-weight: 700;
	font-size: 48px;
}

h2 {
	font-weight: 700;
	font-size: 32px;
}

p {
	font-weight: 400;
	font-size: 24px;
}

@media only screen and (max-width: 1279px) {
	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 24px;
	}
}

@media only screen and (max-width: 1023px) {
	p {
		font-size: 16px;
	}
}

@media only screen and (max-width: 639px) {
	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 18px;
	}
}

.stroke-yellow {
	text-shadow: -1px -1px 0 #FAC44B, 1px -1px 0 #FAC44B, -1px 1px 0 #FAC44B, 1px 1px 0 #FAC44B;
}

.stroke-green {
	text-shadow: -1px -1px 0 #27CF87, 1px -1px 0 #27CF87, -1px 1px 0 #27CF87, 1px 1px 0 #27CF87;
}

.stroke-white {
	text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}
// General ends


// Nav starts
@keyframes menu-click {
	0% {transform: rotateX(0deg);}
  	60% {transform: rotateX(60deg);}
}

.menu-activate {
	animation-name: menu-click;
	animation-duration: .3s;
}

nav {
	transition: all .2s ease;
}

// Nav ends

// Hero starts
.hero-section {
	min-height: 90vh;
	.knight {
		border-radius: 50%;
		width: 473px;
		height: 473px;
		box-shadow: inset 6px 6px 10px 2px rgba(0, 0, 0, 0.3);
	}
}

@media only screen and (max-width: 639px) {
	.hero-section {
		.knight {
			width: 300px;
			height: 300px;
		}
	}
}
// Hero ends

// Project starts
// .project-page {
// 	.banner {
// 		height: 50vw;
// 	}

// }
// Project ends

// Footer starts
footer {
	.icon-block:hover .icon{
		color: #27CF87;
		transform: translateY(-5px);
	}
	.icon {
		transition: all .3s ease-in-out;
	}
}
// Footer ends